
<p>user-metings works!</p>
<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedmeetings()" [disabled]="!selectedmeetings || !selectedmeetings.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>

    </p-toolbar>

    <p-table #dt [value]="meetings" [rows]="10" [paginator]="true" [globalFilterFields]="['meetingName','date','meetingUsers','protocol']" responsiveLayout="scroll"
        [(selection)]="selectedmeetings" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value , 'contains')" placeholder="Search..." />

                </span>
                
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="meetingUsers">meetingUsers <p-sortIcon field="meetingUsers"></p-sortIcon></th>
                <th >Protocol </th>
                <th > </th>
                <th > </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-meeting>
            <tr>
                <td>
                    <p-tableCheckbox [value]="meeting"></p-tableCheckbox>
                </td>
                <td>{{meeting.meetingName}}</td>
                <td>{{meeting.date}}</td>
                <!-- <td><img [src]="'assets/showcase/images/demo/meeting/' + meeting.image" [alt]="meeting.name" width="100" class="shadow-4" /></td> -->
                <td>{{meeting.meetingUsers}}</td>
                <td>{{meeting.protocol}}</td>
                <!-- <td><p-rating [ngModel]="meeting.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                <td><span [class]="'meeting-badge status-' + (meeting.inventoryStatus ? meeting.inventoryStatus.toLowerCase() : '')">{{meeting.inventoryStatus}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editmeeting(meeting)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletemeeting(meeting)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{meetings ? meetings.length : 0 }} meetings.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="meetingDialog" [style]="{width: '450px'}" header="meeting Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/meeting/' + meeting.image" [alt]="meeting.image" class="meeting-image" *ngIf="meeting.image"> -->
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="meeting.meetingName" required autofocus />
            <small class="p-error" *ngIf="submitted && !meeting.meetingName">Name is required.</small>
        </div>
        <div class="field">
            <label for="description">Date</label>
            <textarea id="date" pInputTextarea [(ngModel)]="meeting.dateTime" required rows="3" cols="20"></textarea>
        </div>
        <!-- <div class="field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="meeting.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'meeting-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div> -->

        <div class="field">
            <label class="mb-3">meetingUsers</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6">
                    <p-radioButton id="meetingUsers1" name="meetingUsers" value="Accessories" [(ngModel)]="meeting.meetingUsers"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div>
                <div class="field-radiobutton col-6">
                    <!-- <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="meeting.category"></p-radioButton> -->
                    <label for="category2">Clothing</label>
                </div>
                <div class="field-radiobutton col-6">
                    <!-- <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="meeting.category"></p-radioButton> -->
                    <label for="category3">Electronics</label>
                </div>
                <div class="field-radiobutton col-6">
                    <!-- <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="meeting.category"></p-radioButton> -->
                    <label for="category4">Fitness</label>
                </div>
            </div>
        </div>

        <div class="formgrid grid">
            <!-- <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="meeting.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div> -->
            <div class="field col">
                <label for="protocol">Protocol</label>
                <p-inputNumber id="protocol" [(ngModel)]="meeting"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savemeeting()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> 